
    <div class="card  card-statistic-2 p-3 ">
     <p class="graphleaverh">Most Leaves Taking Employees</p>
     <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col" colspan="2">Team Member</th>
            <th scope="col">Paid</th>
            <th scope="col">Un-Paid</th>
            <th scope="col">Sick</th>
            <th scope="col">Other</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="2"><img src="../../../assets/images/Ellipse 146.png" alt width="30px"> ABC</td>
            <td>7</td>
            <td>4</td>
            <td>3</td>
            <td>4</td>
            <th>16</th>
          </tr>
          <tr>
            <td colspan="2"><img src="../../../assets/images/Ellipse 146.png" alt width="30px"> ABC</td>
            <td>7</td>
            <td>4</td>
            <td>3</td>
            <td>4</td>
            <th>16</th>
          </tr>
          <tr>
            <td colspan="2"><img src="../../../assets/images/Ellipse 146.png" alt width="30px"> ABC</td>
            <td>7</td>
            <td>4</td>
            <td>3</td>
            <td>4</td>
            <th>16</th>
          </tr>
          <tr>
            <td colspan="2"><img src="../../../assets/images/Ellipse 146.png" alt width="30px"> ABC</td>
            <td>7</td>
            <td>4</td>
            <td>3</td>
            <td>4</td>
            <th>16</th>
          </tr>
          <tr>
            <td colspan="2"><img src="../../../assets/images/Ellipse 146.png" alt width="30px"> ABC</td>
            <td>7</td>
            <td>4</td>
            <td>3</td>
            <td>4</td>
            <th>16</th>
          </tr>
          <tr>
            <td colspan="2"><img src="../../../assets/images/Ellipse 146.png" alt width="30px"> ABC</td>
            <td>7</td>
            <td>4</td>
            <td>3</td>
            <td>4</td>
            <th>16</th>
          </tr>
          <tr>
            <td colspan="2"><img src="../../../assets/images/Ellipse 146.png" alt width="30px"> ABC</td>
            <td>7</td>
            <td>4</td>
            <td>3</td>
            <td>4</td>
            <th>16</th>
          </tr>
          <tr>
            <td colspan="2"><img src="../../../assets/images/Ellipse 146.png" alt width="30px"> ABC</td>
            <td>7</td>
            <td>4</td>
            <td>3</td>
            <td>4</td>
            <th>16</th>
          </tr>
          <tr>
            <td colspan="2"><img src="../../../assets/images/Ellipse 146.png" alt width="30px"> ABC</td>
            <td>7</td>
            <td>4</td>
            <td>3</td>
            <td>4</td>
            <th>16</th>
          </tr>
          <tr>
            <td colspan="2"><img src="../../../assets/images/Ellipse 146.png" alt width="30px"> ABC</td>
            <td>7</td>
            <td>4</td>
            <td>3</td>
            <td>4</td>
            <th>16</th>
          </tr>
        </tbody>
      </table>

    </div>

