  <nav #navbar class="navbar active">
   <div class="d-flex justify-content-between w-100">
     <div class="text-align-center">
      <div style="padding: 14px;cursor: pointer;" >
        <a (click)="Showcard()"><img src="assets\images\Imagfornav.png" style="cursor: pointer;" width="32" height="32" alt="User"></a>
      </div>
    
      <ul class="nav navbar-nav navbar-right" style="margin-top: -52px;margin-left: 41px;">
    
        <!-- <li class="nav-item user_profile" ngbDropdown>
          <div class="chip dropdown-toggle" ngbDropdownToggle class="nav-notification-icons pt-0">
            <img src="assets\images\Imagfornav.png" class="user_img" width="32" height="32" alt="User">
          </div>
          <div ngbDropdownMenu class="notification-dropdown pullDown">
            <div class="noti-list" style="position: relative; max-width: 600px; max-height: 300px;" [perfectScrollbar]>
             <div class="card">

             </div>
            </div>
          </div>
        </li> -->
        <li class="d-flex gap-3">
          <a href="#" onClick="return false;" class="bars" (click)="mobileMenuSidebarOpen($event,'overlay-open')"></a>
          <p class="titleNavbar">MoreYeahs</p>
          <!-- <i class="fa fa-search" aria-hidden="true"></i> -->
          <input type="text" class="searchNavbar1" placeholder="Search for employee directory" />
        </li>
      </ul>
     </div>
      <div class="">
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item" ngbDropdown>
            <button mat-icon-button ngbDropdownToggle class="nav-notification-icons">
              <i class="material-icons-outlined icon-color">
                notifications_active
              </i>
            </button>
            <div ngbDropdownMenu class="notification-dropdown pullDown">
              <div class="noti-list" style="position: relative; max-width: 600px; max-height: 350px;" [perfectScrollbar]>
                <ul class="menu">
                  <li class="nfc-header">
                    <h5 class="mb-0">Notitications</h5>
                  </li>
                  <li>
                    <a href="#" *ngFor="let notification of notifications" onClick="return false;"
                      [ngClass]="[notification.status]">
                      <span class="table-img msg-user ">
                        <i class="material-icons-two-tone nfc-type-icon"
                          [ngClass]="[notification.color]">{{notification.icon}}</i>
                      </span>
                      <span class="menu-info">
                        <span class="menu-title">{{notification.message}}</span>
                        <span class="menu-desc mt-2">
                          <i class="material-icons">access_time</i> {{notification.time}}
                        </span>
                      </span>
                      <span class="nfc-close">
                        <app-feather-icons [icon]="'x'" [class]="'user-menu-icons'"></app-feather-icons>
                      </span>
                    </a>
                  </li>
                </ul>
              </div>
              <a class="nfc-read-more">Read All Notifications</a>
            </div>
          </li>

          <li class="nav-item user_profile" ngbDropdown>
            <div class="chip dropdown-toggle" ngbDropdownToggle class="nav-notification-icons pt-0">
              <img src="{{userImg}}" class="user_img" width="32" height="32" alt="User">
              <span>Ella Jones</span>
            </div>
            <div ngbDropdownMenu class="notification-dropdown pullDown">
              <div class="noti-list" style="position: relative; max-width: 600px; max-height: 300px;" [perfectScrollbar]>
                <ul class="menu">
                  <li class="body">
                    <ul class="user_dw_menu">
                      <li>
                        <a href="#" onClick="return false;">
                          <app-feather-icons [icon]="'user'" [class]="'user-menu-icons'"></app-feather-icons>Account
                        </a>
                      </li>
                      <li>
                        <a href="#" onClick="return false;">
                          <app-feather-icons [icon]="'mail'" [class]="'user-menu-icons'"></app-feather-icons>Inbox
                        </a>
                      </li>
                      <li>
                        <a href="#" onClick="return false;">
                          <app-feather-icons [icon]="'settings'" [class]="'user-menu-icons'"></app-feather-icons>Settings
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" (click)="logout()">
                          <app-feather-icons [icon]="'log-out'" [class]="'user-menu-icons'"></app-feather-icons>Logout
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>

        </ul>
      </div>

   </div>
            <!-- </div> -->

</nav>
  <div class="card mega-menu-card" *ngIf="showcard">
    <p class="p-4">Other Modules</p>
    <div class="row">
      <div class="col justify-content-center">
        <img class="pl-3 module-image" src="assets\images\Home.png" alt="">
        <p class="module-image pt-2">Home</p>
      </div>
      <div class="col justify-content-center">
        <img class="pl-3 module-image" src="assets\images\Helpdesk.png" alt="">
        <p class="module-image pt-2">Helpdesk</p>
      </div>
      <div class="col justify-content-center">
        <img class="pl-3 module-image" src="assets\images\Our-Emp.png" alt="">
        <p class="module-image pt-2">Our Emp</p>
      </div>
      <div class="col justify-content-center">
        <img class="pl-3 module-image" src="assets\images\EFMS.png" alt="">
        <p class="module-image pt-2">EFMS</p>
      </div>
      <div class="col justify-content-center">
        <img class="pl-3 module-image" src="assets\images\Organization.png" alt="">
        <p class="pt-2">Organization</p>
      </div>
      <div class="col justify-content-center">
        <img class="pl-3 module-image" src="assets\images\Explore-more.png" alt=""><br>
        <p class=" pt-2">Explore more</p>
      </div>
    </div>
  </div>