    <div class="card card-statistic-2 p-2">
        <p class="graphleaverh">Annual Feedback Count</p>
        <div class="body">
          <apx-chart [series]="areaChartOptions.series" [chart]="areaChartOptions.chart"
            [xaxis]="areaChartOptions.xaxis" [yaxis]="areaChartOptions.yaxis" [colors]="areaChartOptions.colors"
            [stroke]="areaChartOptions.stroke" [legend]="areaChartOptions.legend" [tooltip]="areaChartOptions.tooltip"
            [dataLabels]="areaChartOptions.dataLabels"></apx-chart>
        </div>
</div>
