<div class="innercontent mt-5 ms-2">
  <div class="d-flex justify-content-between ms-3 me-3 flex-wrap">
    <h3 class="textannoucement1">Ticket Category</h3>
    <div class="d-flex gap-3">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-select [(ngModel)]="categoryType" (selectionChange)="getallticketcategory($event.value)">
          <mat-option [value]="true">Active Category</mat-option>
          <mat-option [value]="false">Inactive Category</mat-option>
        </mat-select>
      </mat-form-field>
      <app-button  [buttonClass]="'submit'" text="Add Ticket Category"
        (click)="addUpdateTicketCategory()">
      </app-button>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-lg-3" *ngFor="let data of ticketCategoryList">
      <div class="card p-3">
        <div class="d-flex justify-content-between">
          <p class="graphleaverh"> {{data.categoryName}}</p>
          <i class="fa fa-edit" (click)="addUpdateTicketCategory(data.categoryId)"></i>
        </div>
        <div class="details">
          <p>{{data.description}}</p>
        </div>
        <hr>
        <div class="team">
          <div class="teamSection">
            <span class="teamEmployees">
              {{data.categoryHead | shortName}}
            </span>
          </div>
          <hr>
          <div class="row gap-2 p-2 scrollSection">
            <div class="teamSection" *ngFor="let item of data.employeeNameList">
              <span class="teamEmployees">{{item | shortName}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
